@import url('./fonts.scss');

// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

body {
    margin: 0;
    // background: linear-gradient(to bottom, #E8F0FF 0%, #E3D3F7 52%, #F7EDD3 69%, #F7D3F5 100%);
    background: #FFFFFF;
    font-family: "Segoe UI", sans-serif;
}



.general {
    &__button {
        padding: 12px 44px;
        display: block;
        text-decoration: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        background: #9947CC;
        cursor: pointer;

        &--dark {
            background: #232121;
        }
    }

    &__button-icon {
        font-size: 0;
    }

    &__button-text {
        font-size: 16px;
        font-family: 'Segoe UI';
        font-weight: 600;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }

    &__checkbox {
        display: flex;
        align-items: flex-start;
        gap: 17px;

        input {
            width: 14px;
            height: 14px;
        }

        .text {
            color: #333;
            font-size: 12px;
            font-family: 'Segoe UI';
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0%;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 50px;
        line-height: 1.2;
        text-transform: capitalize;
        color: #333;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
        color: #333;
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #ffffff7a 0%, #e8f0ff6c 30.4%, #e3d3f7 52.4%, #f7edd37a 69.4%, #f7d3f57a 94.65%, #ffffff80 100%);
        backdrop-filter: blur(10px);
        
    }
    &__modal__wrap {
        position: relative;
        &:before {
            content: "";
            width: 616px;
            height: 411px;
            background: var(--acc);
            position: absolute;
            top: -120px;
            left: -120px;
        }
        &:after {
            content: "";
            width: 616px;
            height: 411px;
            background: var(--acc);
            position: absolute;
            bottom: -120px;
            right: -120px;
            transform: rotate(180deg);
        }
    }
    &__modal_in {
        padding: 40px;
        background: #fff;
        width: 100%;
        max-width: 661px;
        border-radius: 40px;
        position: relative;
        z-index: 10;
    }
    &__modal_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 17px;
    }
    &__modal_tabs {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__modal_close {
        cursor: pointer;
    }
    &__modal_tab {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #747474;
        padding: 10px 30px;
        border: 1px solid #747474;
        border-radius: 10px;
        cursor: pointer;
        &--active {
            color: #ac74f6; 
            border-color: #ac74f6;
        }
    }
}


.modal_product {
    display: flex;
    align-items: center;
    gap: 30px;
    &__left {
        width: 29%;
        border-radius: 10px;
        overflow: hidden;
        font-size: 0;
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    &__right {
        width: calc(71% - 30px);
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #111;
    }
    &__price_wrap {
        display: flex;
        align-items: center;
        gap: 22px;
    }
    &__price {
        display: flex;
        align-items: center;
        gap: 5px;
        .left {
            font-weight: 600;
            font-size: 30px;
            line-height: 1;
            text-transform: uppercase;
            color: #9947cc;
        }
        .right {
            font-weight: 400;
            font-size: 14px;
            line-height: 1;
            color: #0a0a0a;
        }
    }
    &__oldprice {
        font-weight: 600;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: line-through;
        text-align: center;
        color: #b5b5b5;
    }

    &__modal_middle {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}

.modal_amount {
    display: flex;
    align-items: center;
    &__left {
        display: flex;
        align-items: center;
    }
}

.header {
    &__top {
        text-align: center;
        background: #fff;
        padding: 12px;
        font-family: SegoeUI;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 80px 38px;
    }

    &__left {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__logo {
        font-size: 30px;
        font-family: 'Segoe UI';
        font-weight: 600;
        line-height: 139.9999976158142%;
        letter-spacing: 10%;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
    }

    &__menu {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 34px;
        }

        a {
            font-size: 16px;
            font-family: 'Segoe UI';
            font-weight: 700;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: #000;
            text-decoration: none;
        }
    }

    &__payments {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &__payment {
        font-size: 0;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__user-name {
        font-size: 16px;
        font-family: 'Segoe UI';
        font-weight: 600;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #333;
        text-decoration: none;
    }

    &__user-icon,
    &__user-arrow {
        font-size: 0;
    }

    &__auth {
        display: flex;
        gap: 15px;
    }

    &__auth-block {
        position: relative;
    }

    &__auth-popup {
        position: absolute;
        right: 0;
        top: calc(100% + 28px);
        padding: 20px;
        border-radius: 40px;
        background: #FFFFFF;
        width: 100vw;
        max-width: 390px;
        box-sizing: border-box;
    }

    &__auth-title {
        font-size: 24px;
        font-family: 'Segoe UI';
        font-weight: 700;
        line-height: 139.9999976158142%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 16px;
    }

    &__auth-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__auth-input {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        height: 78px;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
    }

    &__auth-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    &__auth-link {
        font-size: 12px;
        font-family: 'Segoe UI';
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0%;
        color: #333;
        text-decoration: none;
    }

    &__auth-button {
        height: 78px;
        border: none;
        background: #AC74F6;
        width: 100%;
        border-radius: 10px;
        color: #fff;
        font-size: 20px;
        font-family: 'Segoe UI';
        font-weight: 600;
        line-height: 139.9999976158142%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 22px;
    }

    &__minicart {
        position: relative;

        .icon {
            font-size: 0;
        }

        .count {
            position: absolute;
            top: -9px;
            left: 9px;
            background: #9947CC;
            color: #fff;
            padding: 1px 5px;
            border-radius: 9px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__wallet {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 10px;

        .text {
            font-size: 16px;
            color: #333333;
            font-family: 'Segoe UI';
            font-weight: 600;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }

        .icon {
            font-size: 0;
        }

    }
}



.main_tabs {
    padding-top: 27px;
    padding-bottom: 52px;
    background: #F9F7F1;
    &__in {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
    }
    &__item {
        padding: 15px 30px;
        border: 2px solid #AD74F7;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Segoe UI';
        font-weight: 600;
        color: #AD74F7;
        cursor: pointer;
        transition: all .3s ease;
        &--active {
            background-color:#ad74f7;
            filter:drop-shadow(0px 20px 20px rgba(0.6745098233222961,0.45490196347236633,0.9647058844566345,0.20000000298023224));
            color: #fff;
        }
    }
}

.main_categories  {
    background: #F9F7F1;
    &__category {
        padding: 64px 120px 136px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);background: #F9F7F1;
    }
    &__title {
        text-align: center;
        margin-bottom: 14px;
    }
    &__subtitle {
        text-align: center;
        margin-bottom: 52px;
    }
    &__items {
        display: flex;
        justify-content: center;
        gap: 25px;
    }
    &__item {
        padding: 23px;
        background-color: #ffffff;
        border-radius: 20px;
        width: 282px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        gap: 35px;
        cursor: pointer;
        border: 2px solid #fff;
        &:hover,
        &--active {
            border-color: #AC74F6;
        }
        &--active {
            background: #AC74F6;
        }
    }
    &__item-image {
        max-width: 46px;
        max-height: 71px;
        font-size: 0;
        img {
            max-width: 100%;
        }
    }
    &__item-text {
        color: #525252;
        font-size: 16px;
        font-family: 'Segoe UI';
        font-weight: bold;
        text-transform: uppercase;
        width: calc(100% - 35px - 46px);
    }
    &__item--active &__item-text {
        color: #fff;
    }
    &__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}


.raffle_card {
    border-radius: 40px;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
    font-family: "Segoe UI";
    &__image {
        font-size: 0;
        aspect-ratio: 100/68;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 10px;
        }
    }
    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: #111;
        margin-bottom: 16px;
    }
    &__end {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 9px;
        .number {
            font-weight: 400;
            font-size: 40px;
            line-height: 90%;
            text-transform: uppercase;
            text-align: center;
            color: #333;
        }
        .type {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #333;
        }
    }
    &__end-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
    }
    &__icon {
        width: 52px;
        height: 52px;
        font-size: 0;
        cursor: pointer;
        &--placeholder {
            pointer-events: none;
        }
    }
    &__solded {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 43px;
    }
    &__solded-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #111;
        opacity: 0.5;
    }
    &__solded-progress {
        height: 8px;
        border-radius: 20px;
        background: rgba(51, 51, 51, 0.2);
        border-radius: 20px;
        position: relative;
    }
    &__solded-progress-in {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: #c486f4;
        width: var(--width);
        border-radius: 20px;
        transition: all .3s ease;
    }
    &__solded-percents {
        display: flex;
        align-items: center;
        gap: 7px;
        span {
            font-weight: 400;
            font-size: 20px;
            line-height: 90%;
            text-transform: uppercase;
            color: #333;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }
    &__oldprice,
    &__price,
    &__enter_button {
        display: flex;
        align-items: center;
    }
    &__bottom-left {
        display: flex;
        flex-direction: column;
        gap: 5px; 
    }

    &__oldprice {
        color: #b5b5b5;
        gap: 10px;
        .left {
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            text-transform: uppercase;
            text-decoration: line-through;
            white-space: nowrap;
        }
        .right {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            white-space: nowrap;
        }
    }
    &__price {
        color: #5c0b8e;
        gap: 10px;
        .left {
            font-weight: 600;
            font-size: 22px;
            line-height: 100%;
            text-transform: uppercase;
            white-space: nowrap;
        }
        .right {
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            white-space: nowrap;
        }
    }
    &__bottom-right {
        flex: 1 1 auto;
    }
    &__enter_button {
        border: none;
        background: #9947cc;
        border-radius: 10px;
        max-width: 277px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        padding: 14px;
        margin-left: auto;
        cursor: pointer;
        .text {
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
        }
        .icon {
            width: 24px;
            height: 24px;
            font-size: 0;
        }
    }
}


.main_wheel {
    &__in {
        padding: 100px 120px;
        // overflow: hidden;
    }
    &__title {
        font-weight: 400;
        font-size: 50px;
        line-height: 1.2;
        text-align: center;
        color: #333;
        margin-bottom: 32px;
        span {
            color: #9947cc;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                left: 50%;
                width: 504px;
                height: 23px;
                transform: translateX(-50%);
                background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTA2IiBoZWlnaHQ9IjIzIiB2aWV3Qm94PSIwIDAgNTA2IDIzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMS4yMjk4OSAxOS41NzkzQzc1Ljg0NiA4LjE0NjA0IDI4MS4yIC04LjYwMjY5IDUwNS42ODkgMTUuODY4MiIgc3Ryb2tlPSJ1cmwoI3BhaW50MF9saW5lYXJfMzA1NV82OTA5KSIgc3Ryb2tlLXdpZHRoPSI1Ii8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXJfMzA1NV82OTA5IiB4MT0iMS4xNzg4OCIgeTE9IjE3LjAzMjEiIHgyPSI1MDUuNTEiIHkyPSI2LjkzNDA1IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IndoaXRlIiBzdG9wLW9wYWNpdHk9IjAiLz4KPHN0b3Agb2Zmc2V0PSIwLjM0NCIgc3RvcC1jb2xvcj0iI0M0ODZGNCIvPgo8c3RvcCBvZmZzZXQ9IjAuNSIgc3RvcC1jb2xvcj0iI0M0ODZGNCIvPgo8c3RvcCBvZmZzZXQ9IjAuNjg0IiBzdG9wLWNvbG9yPSIjQzQ4NkY0Ii8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0id2hpdGUiIHN0b3Atb3BhY2l0eT0iMCIvPgo8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+Cjwvc3ZnPgo=") 50% 50% / cover no-repeat;
            }
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
        color: #333;
        margin-bottom: 12px;
    }
    &__wheel {
        width: 100%;
        max-width: 778px;
        font-size: 0;
        margin: 0 auto;
        position: relative;
    }
    &__wheel_layer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &--numbers {
            border-radius: 50%;
            // overflow: hidden;
            &.isSpinning {
                transition: all var(--time) ease;
                transform: translate(-50%, -50%) rotate(var(--deg));
            }
        }
        &--frame {
            transform: translate(-50%, calc(-50% - 14px));
        }
        &--button {
            cursor: pointer;
            transition: all .3s ease;
            transform: translate(-50%, -50%) scale(0.8);
            &:hover {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
    &__badge {
        position: absolute;
        left: calc(100% - 80px);
        top: 100px;
    }
    &__butterfyes {
        position: absolute;
        left: 50%;
        top: 80px;
        transform: translateX(-50%);
        pointer-events: none;
    }
    &__segment {
        position: absolute;
        // width: 93px;
        // height: 50%;
        top: 0;
        bottom: 50%;
        left: 50%;
        transform-origin: 50% 100%;
        transform: translateX(-50%) rotate(calc(calc(360deg / var(--count)) * var(--position)));
        padding-top: 20px;
        box-sizing: border-box;
        // clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // user-select: none;
        // cursor: pointer;
        
        .number {
            // position: relative;
            // transform: rotate(-45deg);
            font-size: 20px;
            font-weight: 700;
            color: #AD14A7;
            // padding-bottom: 50px;
            
            text-transform: uppercase;
            // text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 86px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .title {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.4;
            color: #111;
        }
        .text {
            font-weight: 350;
            font-size: 14px;
            line-height: 1.4;
            color: #111;
            a {
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: #9947cc;
            }
        }
    }

    &__scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .arrow {
            width: 50px;
            font-size: 0;
        }
        .title,
        .text {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.4;
            letter-spacing: 0.1em;
            text-align: center;
            color: #333;
        }
        .title {
            text-transform: uppercase;
        }
    }

}



.giveaway {
    padding: 203px 280px 96px 120px;
    background: var(--background);
    &__in {
        display: flex;
        align-items: center;
        gap: 0;
    }
    &__left {
        width: 670px;
    }

    &__left-text {
        font-family: "Prata", serif;
        font-weight: 400;
        font-size: 28px;
        text-shadow: 3px 3px #B53A1F;
        line-height: 1.2;
        letter-spacing: 0.2em;
        color: #fff;
    }
    &__left-title {
        font-family: "Prata", serif;
        font-weight: 400;
        font-size: 80px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 3px 3px #b53a1f;
        margin-bottom: 32px;
    }
    &__right {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__stories {
        width: 307px;
        height: 665px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        overflow: hidden;
    }
    &__story {
        width: 307px;
        height: 665px;
        font-size: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &__right-island {
        position: absolute;
        left: 50%;
        top: 31px;
        transform: translateX(-50%);
    }
    &__bullets {
        position: absolute;
        z-index: 2;
        top: 3em;
        bottom: auto;
        left: 50%;
        display: inline-flex;
        list-style: none;
        transform: translateX(-50%);
        width: 287px;
        .glide__bullet {
            flex: 1 1 auto;
        }
        .glide__bullet {
            background-color: transparent;
            height: 5px;
            padding: 0;
            border-radius: 5px;
            border: none !important;
            transition: all 300ms ease-in-out;
            cursor: pointer;
            position: relative;
            &__in {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                border-radius: 5px;
                background: #fff;
                transition: all 0s linear;
            }
            &--active .glide__bullet__in {
                transition: all 5s ease;
                
            }
            &--active ~ .glide__bullet .glide__bullet__in {
                width: 0 !important;
            }
        }
    }
}




.main_elite {
    padding: 100px 200px;
    background: #fff var(--background);
    &__title {
        font-weight: 400;
        font-size: 50px;
        line-height: 1.2;
        text-align: center;
        color: #333;
        margin-bottom: 14px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #333;
        margin-bottom: 68px;
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 200px;
    }
    &__item {
        position: relative;
        width: 356px;
        height: 342px;
        font-size: 0;
        cursor: pointer;
        animation: scaling var(--duration) linear infinite;
    }
    @keyframes scaling {
        0% {
            transform: scale(1);
        }
        70% {
            transform: scale(0.8);
        }
        100% {
            transform: scale(1); 
        }
    }
    &__item-border {

    }
    &__item-circle {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 253px;
        height: 253px;
        transform: translate(-50%, -50%);
    }
    &__item-product {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 195px;
        height: 195px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        overflow: hidden;
        font-size: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}




.join {
    &__in {
        padding: 225px 180px 236px;
        display: flex;
        align-items: stretch;
        gap: 54px;
    }
    &__left {
        width: 39%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 80px;
    }
    &__left-title {
        font-family: "Prata", sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 1.4;
        color: #333;
        position: relative;
        .butterfly {
            position: absolute;
            right: 0;
            bottom: calc(100% - 20px);
        }
    }
    &__left-text {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .text {
            font-weight: 400;
            color: #333;
            line-height: 1.4;
            &:first-child {
                padding-bottom: 20px;
            }
            &.big {
                font-size: 20px;
            }
            &.small {
                font-weight: 600;
                font-size: 14px;
            }
        }
    }
    &__right {
        width: calc(61% - 54px);
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &__right-sight {
        width: calc(100% / 2 - 41px / 2);
    }
    &__right-resources {
        display: flex;
        flex-direction: column;
        gap: 19px;
    }
    &__right-card {
        font-size: 0;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        z-index: var(--zindex);
        &:not(:first-child) {
            margin-top: -152px;
            &:hover {
                z-index: 5;
            }
        }
        img {
            width: 100%;
        }
    }
    &__right-tabs {
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        background: #f4f4f4;
    }
    &__right-tab {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 20px;
        padding: 5px 14px 5px 24px;
        flex: 1 1 auto;
        cursor: pointer;
        &:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
        .text {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.4;
            text-transform: uppercase;
            color: #333;
        }
        .badge {
            font-weight: 700;
            font-size: 12px;
            line-height: 1.4;
            text-transform: uppercase;
            color: #9947cc;
            border-radius: 20px;
            padding: 5px;
            background: #fff;
        }
        &--active {
            background: #ac74f6;
            .text {
                color: #fff;
            }
        }
    }

    &__right-includes {
        padding: 20px;
        box-shadow: 0 0 20px 0 rgba(53, 59, 212, 0.1);
        background: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__right-includes-name {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
        color: #333;
        margin-bottom: 22px;
    }
    &__right-includes-price {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;
        font-weight: 900;
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        color: #333;
        margin-bottom: 7px;
        span {
            font-weight: 600;
            font-size: 16px;
            text-transform: lowercase;
        }
    }
    &__right-includes-info {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        color: rgba(51, 51, 51, 0.7);
        margin-bottom: 12px;
    }
    &__right-includes-button {
        border-radius: 10px;
        padding: 15px 24px;
        margin-bottom: 28px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background:  #9947cc var(--background);
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__right-includes-list {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        li  {
            display: flex;
            align-items: center;
            gap: 15px;
            &:before {
                content: "";
                background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTE3IDlMMTMuNjMwOCAxMi43NjMyQzEyLjI5NTcgMTQuMjU0NCAxMS42MjgyIDE1IDEwLjc1IDE1QzkuODcxOCAxNSA5LjIwNDI1IDE0LjI1NDQgNy44NjkxNyAxMi43NjMyTDcgMTEuNzkyNE0yMiAxMkMyMiAxNy41MjI4IDE3LjUyMjggMjIgMTIgMjJDNi40NzcxNSAyMiAyIDE3LjUyMjggMiAxMkMyIDYuNDc3MTUgNi40NzcxNSAyIDEyIDJDMTcuNTIyOCAyIDIyIDYuNDc3MTUgMjIgMTJaIiBzdHJva2U9IiNBQzc0RjYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIC8+DQo8L3N2Zz4=") 50% 50% / cover no-repeat;
                display: block;
                width: 24px;
                height: 24px;
                font-size: 0;
            }
            span {
                display: flex;
                width: calc(100% - 24px - 15px);
            }
        }
    }
    &__right-includes-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
        align-self: flex-end;
        gap: 23px;
        margin-top: 30px;
        .text {
            font-weight: 600;
            font-size: 14px;
            line-height: 1.4;
            text-align: right;
            color: #333;
        }
        .arrow {
            font-size: 0;
            width: 24px;
        }
    }
}



.footer {
    background: #f5f5f7;
    &__container {
        padding-left: 180px;
        padding-right: 180px;
    }
    &__in {
        padding-top: 98px;
    }
    &__top {
        display: flex;
        align-items: flex-start;
        gap: 73px;
        padding-bottom: 41px;
    }
    &__top-left {
        width: 100%;
        max-width: 457px;
        .title {
            font-family: "Prata", sans-serif;
            font-weight: 400;
            font-size: 28px;
            line-height: 1.4;
            color: #9947cc;
            margin-bottom: 30px;
        }
        .text {
            display: flex;
            flex-direction: column;
            gap: 16px;
            p {
                margin: 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.42857;
                letter-spacing: -0.01em;
                color: #696971;
            }
        }
    }
    &__top-right {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 13px;
            li {}
            a {
                text-decoration: none;
                font-weight: 400;
                font-size: 13px;
                color: #696971;
            }
        }
    }
    &__middle {
        background: #9947cc;
    }
    &__middle-in {
        padding-top: 23px;
        padding-bottom: 22px;
        display: flex;
        align-items: center;
        gap: 100px;
    }
    &__middle-left {
        font-weight: 700;
        font-size: 30px;
        line-height: 1.1;
        text-transform: uppercase;
        color: #fff;
        width: 100%;
        max-width: 457px;
    }

    &__middle-socials {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1 1 auto;
    }
    &__middle-button {
        padding: 13px 49px;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background: #c486f4;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    &__bottom {
        padding-top: 30px;
        padding-bottom: 26px;
    }
    &__bottom_in {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__bottom-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.1;
        color: #333;
        text-decoration: none;
    }
}